body,
h1,
p,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  background: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.container-principal {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container-secundario {
  background: hsl(244, 38%, 16%);
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  border-radius: 10px;
  max-width: 1440px;
  margin: 0 auto;
}

.container-texto {
  padding: 60px;
}

.titulo {
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  margin-bottom: 20px;
}

.titulo span {
  color: hsl(277, 64%, 61%);
}

.paragrafo {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 50px;
  line-height: 1.5;
}

.lista {
  list-style: none;
  display: flex;
  margin-top: 100px;
  gap: 50px;
}

.lista-titulo {
  font-size: 20px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.lista-dado {
  font-family: "Lexend Deca";
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  margin-top: 8px;
}

.container-img {
  position: relative;
}

.img {
  border-radius: 0 10px 10px 0;
  max-width: 100%;
  position: relative;
  display: block;
}

.img-cel {
  display: none;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.5;
  border-radius: 8px;
}

@media (max-width: 1100px) {
  .container-principal {
    display: flex;
    align-items: center;
    height: 130vh;
  }

  .container-secundario {
    grid-template-columns: 1fr;
    max-width: 320px;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .container-img {
    grid-row: 1;
  }

  .img {
    display: none;
  }

  .img-cel {
    display: block;
  }

  .img {
    border-radius: 10px 10px 0 0;
  }

  .container-texto {
    grid-row: 2;
    padding: 40px;
  }

  .lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
  }

  .lista li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    text-align: center;
    font-size: 25px;
  }

  .paragrafo {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .lista {
    margin-top: 50px;
    gap: 50px;
  }
}
